.results-page {
  height: 100vh;
  color: #a9a9b1;
  background: #f8f8fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.results-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem;
  border: 2px solid #a9a9b1;
  border-radius: 15px;
}

.result-text {
  font-size: 1.5rem;
}

.result {
  margin: 2rem;
  font-size: 8rem;
  font-weight: bold;
}
